:root {
  --mauChu: #979da0;
  --mauvang: #ff9933;
  --maunhat: #c3c3c3;
  --cam: #ff5400;
  --do: #da3031;
  --xanh: #3390bb;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  outline: none;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: inherit;
}
.container--phu {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* 

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
} */

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__fullwith {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* foooterrrrrrrrrrrrrrrr */
